<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-custom" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WoosimCordovaPlugin</name>
	<license>Apache 2.0</license>
	<repo>https://github.com/bolotof96/WoosimBTPrinter</repo>

	<!-- cordova -->
   <engines>
      <engine name="cordova" version=">=3.0.0" />
   </engines>
   
    <js-module name="WoosimCordovaPlugin" src="www/WoosimCordovaPlugin.js">
        <clobbers target="cordova.plugins.WoosimCordovaPlugin" /></js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WoosimCordovaPlugin">
                <param name="android-package" value="cordova-plugin-custom.WoosimCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/WoosimCordovaPlugin.java" target-dir="src/cordova-plugin-custom/WoosimCordovaPlugin"/>
        <source-file src="src/android/WoosimLib261.jar" target-dir="libs"/>
    </platform>
</plugin>
